.app{
  background-color: #FFEAEA;
  width:100vw;
  height:100vh;
  overflow: scroll;
  margin: 0;

}

.main{
  padding:20px 150px 30px 150px;
}

.flex{
  display: inline-flex;
  align-items: center;
}

.emojis{
  font-size: 40px;
}

.welcome-heading{
  font-size:50px;
  padding-right:10px;
}

.logoutBtn{
  float: right;
  font-weight: bold;
  padding:25px;
  cursor: pointer;
}

nav{
  height:70px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  background-image: url("../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width:200px;
  height:50px;
}

.link-elem{
  font-weight: bold;
  font-size:21px;
  text-decoration: none;
  color:black;
}

.index-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu-container, .booking-container{
  display:flex;
  flex-direction: column;
}

form{
  display:flex;
  flex-direction: column;
}